body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.header {
  display: flex;
  margin: 0;
  padding: 10px;
  height: fit-content;
  background: linear-gradient(0deg, #000000 0%, #333333 33%);
}
.logo {
  width: calc(100% - 40px);
  text-align: left;
}
.header h2 {
  margin: auto;
}
.header a {
  text-decoration: none;
}
.header #load {
  display: none;
  width: 32px;
  height: 32px;
}

.footer {
  margin: 0;
  padding: 10px;
  height: fit-content;
  background: linear-gradient(180deg, #000000 0%, #333333 33%);
}

.title {
  margin: auto;
  width: 95%;
  height: fit-content;
  text-align: center;
}

.title label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-weight: bold;
}

.title .input {
  border: none;
  border-bottom: 2px solid #000000;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  ime-mode: disabled;
}
.title .input:focus {
  outline: none;
}

.title input[type="button"] {
  width: 30%;
  max-width: 200px;
  height: 40px;
  background-color: #66cc00;
  border: #66cc00;
  border-radius: 2px;
  color: #ffffff;
  font-weight: bold;
}

.title #exist_error {
  display: none;
}
.title #half_width_error {
  display: none;
}
.title #no_room_error {
  display: none;
}

.textGreen {
  color: #33ff33;
}
.textRed {
  color: #ff0000;
}
.textWhite {
  color: #ffffff;
}